<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>
<div th:replace="/fragments/header :: header"></div>


<div th:if="${param.wrongCurrentPass}">
    <p class="alert-red">Wrong Current Password</p>
</div>

<div th:if="${param.mismatchpass}">
    <p class="alert-red">New password and Confirm password doesn't match</p>
</div>

<form action="#"
      th:action="@{'/update-password'}"
      th:object="${user}"
      method="post">
    <h2 class="item-middle">Reset Password</h2>
    <div class="profile">
        <div class="profile-item">
            <p> Current Password: <input type="text" name="currentPassword" th:field="*{currentPassword}"/></p>
        </div>
        <div class="profile-item">
            <p> New Password: <input type="text" name="newPassword" th:field="*{newPassword}"/></p>
        </div>
        <div class="profile-item">
            <p> Confirm Password: <input type="text" name="confirmPassword" th:field="*{confirmPassword}"/></p>
        </div>
        <div class="float-left">
            <button class="green-btn" type="submit">Update</button>
        </div>
    </div>
</form>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>