<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container">

    <div class="list-group">
        <div class="alert-red"><h3 th:text="${error}">Status</h3></div>
        <div class="alert-red" th:text="'Status code: '+ ${status}"></div>
    </div>

</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>